@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* ==========================================================================
  Custom Properties
========================================================================== */



:root {
    --primary-color: #FFF;
    --primary-color-dark: #f1f1f1;
    --text-dark: #000000;
    --text-light: #000000;
  
    --font-sans: "Century Gothic", Tahoma, Arial, sans-serif;
    --font-serif: Georgia, Times, "Times New Roman", serif;
    --font-family: 'Fira sans', sans-serif;
  }
  
  /* ==========================================================================
    Sensible defaults
  ========================================================================== */
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    
  }
  
  ::selection {
    background-color: var(--primary-color);
    color: var(--text-light);
  }
  
  html,
  body {
   
    margin: 0;
    background-color: white;
  }
  footer{
    background-color: white;
  }
  main{
    background-color: white;
    height: 1000px;
  }
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* ==========================================================================
    Typography
  ========================================================================== */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: var(--font-family);
  }
  
  /* h1 {
    font-size: 3.75rem;
    line-height: 1;
    margin: 1rem 0 1.5rem;
    color: var(--primary-color);
  }*/
  
  h1 {
    margin-top: 0.5em;
    display: block;
    font-size: 2em;
    font-weight: bold;
  }
  
  h2 {
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 0 1rem;
  }
  
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 1rem 0 1rem;
  }
  
  h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 1rem 0 1rem;
  }
  
  h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0 0.5rem;
  }
  
  h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1rem 0 0.2rem;
  }
  
  p {
        color: #6a727a;
        font-weight: 500;
  }
  
  a {
    color: #6a727a;
  }
  
  a:hover {
    color: #6a727a;
  }
  
  hr {
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
    margin: 1em 0;
  }
  
  /* ==========================================================================
    Forms
  ========================================================================== */
  
  form {
    font-family: var(--font-family);
    width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    padding: 0.6em 0.6em;
    font-family: var(--font-familly);
    font-size: 1em;
    width: 100%;
    border: 3px var(--primary-color-dark) solid;
    margin-bottom: 10px;
  }
  
  input[type="text"]:focus,
  textarea:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  select:focus {
    border: 2px var(--text-dark) solid;
    outline: 0;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button,
  input[type="submit"],
  input[type="reset"],
  textarea,
  select {
    border-radius: 0.25em;
  }
  
  
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
 
  
  button,
  input[type="submit"],
  input[type="reset"] {
    margin-top: 1em;
    border: 1px solid #e0e0e0;
    background-color: none;
    color: var(--text-dark);
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--font-family);
  }
  
 
  

 
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 1.4em;
    width: 1.4em;
    height: 1.4em;
  }
  
  /* ==========================================================================
    Lists
  ========================================================================== */
  
  
  
  /* ==========================================================================
    Tables
  ========================================================================== */
  
 
  
 
 
 
  
 
  
  /* ==========================================================================
    Layout Elements
  ========================================================================== */
 

  
  /* ==========================================================================
    Custom/Alternative Styles
  ========================================================================== */
  .container {
    width: 100%;
    max-width: 780px;
    margin-top: 5rem;
  
   
  }
  
 
    
  .btn {
    margin-left: 500px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
   color: white;
    font-family: var(--font-family);
  }
  
 
  .btn-danger:hover {
    background: crimson;
    color: white; 
  }
  

  
  /* ==========================================================================
    Product custom styles
  ========================================================================== */
 
  
  .img-product {
    width: 100px; 
    height: 80px;
  }
  
  
  /* ==========================================================================
    Media queries
  ========================================================================== */
  
  @media screen and (max-width: 550px) {
    button,
    input[type="submit"],
    input[type="reset"] {
      width: 100%;
    }
  }
  